section {
    
    font-size: 25px;
    color: black ;
    /* border-style: inset; */
    /* border-color: #555358; */
    /* text-shadow: black 1px 1px; */
    font-family: Lato;
    font-weight: bold;
    /* height: 300px; */
    

  





}
body{
  background: linear-gradient( white, #50A5B1);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    
}

.col-9{
}


* {
  box-sizing: border-box
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.side-bar {
  width: 160px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color:black;
  display: block;
  padding: 0.6rem 0.3rem;
  font-weight: 500;
  text-shadow: #F1703D 1px 1px;
  /* transition: all ease-out 250ms; */
}

nav li a:hover, .footer-bar {
  color:  white;
  font-size: large;
  font-weight: bold;
}

.main-content {
  margin-left: 160px;
  

}

section {
  background-color: #FEF6ED;
  height: 90vh;
  margin:0;
  padding:2.5rem 4rem;
  border: whitesmoke;
  border-style: inset;
}

section:nth-of-type(2n) {
  background-color: #F1703D;
  /* border-style: linear-gradient(red, yellow); */

}

section:last-of-type {
  height: 67vh;
}

h1 {
  color: #444;
  font-weight: 600;
  font-family: 'Besley', serif;

}

.active {
  color:  #ACC8E5; 
  font-weight: 600;
}
.container{
    margin-right: 600px;
    border: 5px;
    overflow-x: hidden;
}

.col-2{
    /* margin-left: 700px; */
    border: 1px;
    top: -400px;
    right: -800px;
}

.blink_me {
    animation: blinker 1s linear infinite;

  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
      color: aliceblue;
    }
  }

.col-8, p{
    color: white
}

/* put boxes and make 3-d effect around texts and photos. Different fonts for headers and texts */
img{
  border-style: inset;
  border-color: #555358;
}

#work-history{
  height: 650px;
  width:1300px;
  background: linear-gradient(#50A5B1, #F1703D);

}

#bio{
  height: 650px;
}

h2{
  text-decoration: none;
  font-weight: bold;
  color: rgb(35, 35, 255);
}
#skills{
  height: 280px;
  width: 1000px;
  background: linear-gradient(#F1703D, white, #50A5B1); 
  border-bottom: none;
}
/* .globe{
  right:-1200px;
  top: -500px
} */
.footer-bar {
  background-color: #F1703D;
  /* width: 1000px; */
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.css{
  top: -200px;
  right: -900px;
}
#bio{
  background: linear-gradient(#F1703D, white, #50A5B1);
}