section {
    font-family: 'Besley', serif;
    font-size: 25px;
    color: black ;
    /* text-shadow: 2px 1px whitesmoke;
    text-shadow: 2.1px 1.1px whitesmoke;
    text-shadow: 2.2px 1.2px whitesmoke;
    text-shadow: 2.3px 1.3px whitesmoke;
    text-shadow: 2.4px 1.4px whitesmoke; */



}
body{
    background-color: #50A5B1;
    font-family: 'Lato', sans-serif;
    
}

.col-9{
    /* padding-bottom: 50px; */
}


* {
  box-sizing: border-box
}

body {
  font-family: 'Montserrat', sans-serif;
}

.side-bar {
  width: 160px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color:#FEF6ED;
  display: block;
  padding: 0.6rem 0.3rem;
  font-weight: 400;
  /* transition: all ease-out 250ms; */
}

nav li a:hover {
  color:  #336ca8;
}

.main-content {
  margin-left: 160px;
}

section {
  background-color: #FEF6ED;
  height: 90vh;
  margin:0;
  padding:2.5rem 4rem;
}

section:nth-of-type(2n) {
  background-color: #F1600D;
  border: 1px;
}

/* section:last-of-type {
  height: 100vh;
} */

h1 {
  color: #444;
  font-weight: 600;
}

.active {
  color:  #ACC8E5; 
  font-weight: 600;
}
.container{
    margin-right: 600px;
    border: 5px;
}

.col-2{
    margin-left: 700px;
    border: 1px;
}

.blink_me {
    animation: blinker 1s linear infinite;

  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.col-7, .work-title{
    color: white
}

/* put boxes and make 3-d effect around texts and photos. Different fonts for headers and texts */